@model RTS.Models.RequestModel

@{
    ViewData["Title"] = "RequestItem";
    Layout = "_LayoutWithLeftMenu";
}

<h1>RequestItem</h1>

<h4>RequestModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RequestItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <textarea asp-for="message" class="form-control" ></textarea>
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Email" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

